{{- $page := .cxt -}}
{{- $isSingle := .IsSingle -}}
{{- $isHidden := .isHidden -}}

{{- with $page -}}
{{- if and .Params.cover.image (not $isHidden) }}
<figure class="entry-cover">
    {{- $loading := cond $isSingle "eager" "lazy" -}}
    {{- $addLink := and site.Params.cover.linkFullImages $isSingle -}}
    {{- $alt := (.Params.cover.alt | default .Params.cover.caption | plainify) -}}
    {{- $pageBundleCover := (.Resources.ByType "image").GetMatch (printf "*%s*" .Params.cover.image) -}}
    {{- $globalResourcesCover := (resources.ByType "image").GetMatch (printf "*%s*" .Params.cover.image) -}}
    {{- $cover := or $pageBundleCover $globalResourcesCover -}}
    {{- $imgdl := .Params.cover.image | absURL -}}
    {{- if $cover -}}
        {{- $imgdl = $cover.Permalink -}}
    {{- end -}}

    {{- if $addLink }}
        <a href="{{ $imgdl }}" target="_blank" rel="noopener noreferrer">
    {{- end }}

    {{- if $cover -}}
        {{- partial "modern-picture.html" (dict "page" . "image" $cover "alt" $alt "loading" $loading "decoding" "async") -}}
    {{- else -}}
        <img loading="{{ $loading }}" decoding="async" src="{{ $imgdl }}" alt="{{ $alt }}">
    {{- end }}

    {{- if $addLink }}
        </a>
    {{- end -}}

    {{- if $isSingle }}
        {{- with .Params.cover.caption }}
            <figcaption>{{ . | markdownify }}</figcaption>
        {{- end }}
    {{- end }}
</figure>
{{- end }}
{{- end -}}
